.Rproj.user/**
.Rhistory
.RData
.DS_Store
.Rbuildignore
.Rproj.user

*.pdf
*.shp
*.dbf
*.prj
*.shx
*.txt

*.html
#analysis/data/** # Note: No file on GitHub can be bigger than 100MB. If files are larger than that, do not commit.
analysis/data/raw/
